body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, .container {

  text-align: center;
  padding: 1rem 0;
  
}

input {

  border: solid 1px #000;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

}


.btn {
  background-color: #87A7CA;
  color: #FFF;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  
}

.error {

  border-color: red;

}

.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {

  margin: 0.5rem 0.8rem;
  padding: 2rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
  border: solid 1px black;

}

.hex-color {

  text-align: center;

}

.light-text {

  color: #fff;
}

.alert {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
